n8n-workflows/1-daily-blog-ideas-pipeline.json
{
  "name": "Daily Blog Ideas Research Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 8 AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=artificial+intelligence+OR+machine+learning+OR+frontend+development+OR+design+system+OR+claude+AI&hl=en-US&gl=US&ceid=US:en",
        "options": {}
      },
      "id": "rss-ai-news",
      "name": "RSS - AI & Tech News",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [250, 100]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/MachineLearning+reactjs+webdev+programming+Frontend+userexperience/.rss?limit=25",
        "options": {}
      },
      "id": "rss-reddit",
      "name": "RSS - Reddit Tech Subs",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://hnrss.org/frontpage?count=20",
        "options": {}
      },
      "id": "rss-hackernews",
      "name": "RSS - Hacker News",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [250, 500]
    },
    {
      "parameters": {
        "url": "https://dev.to/feed/tag/javascript,react,ai,frontend,designsystem",
        "options": {}
      },
      "id": "rss-devto",
      "name": "RSS - Dev.to",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [250, 700]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "merge-feeds",
      "name": "Merge All Feeds",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "// Combine and deduplicate all feed items\nconst allItems = $input.all();\n\n// Extract unique titles and content\nconst seen = new Set();\nconst uniqueItems = [];\n\nfor (const item of allItems) {\n  const title = item.json.title || item.json.name || '';\n  const normalizedTitle = title.toLowerCase().trim();\n  \n  if (!seen.has(normalizedTitle) && title.length > 0) {\n    seen.add(normalizedTitle);\n    uniqueItems.push({\n      title: title,\n      link: item.json.link || item.json.url || '',\n      description: item.json.contentSnippet || item.json.description || item.json.content || '',\n      source: item.json.creator || item.json.author || 'Unknown',\n      pubDate: item.json.pubDate || item.json.isoDate || new Date().toISOString()\n    });\n  }\n}\n\n// Sort by date (newest first) and take top 30\nconst sortedItems = uniqueItems\n  .sort((a, b) => new Date(b.pubDate) - new Date(a.pubDate))\n  .slice(0, 30);\n\n// Create a summary for the AI\nconst summary = sortedItems.map((item, i) => \n  `${i + 1}. ${item.title}\\n   Source: ${item.source}\\n   Link: ${item.link}\\n   Summary: ${item.description.substring(0, 200)}...`\n).join('\\n\\n');\n\nreturn [{\n  json: {\n    feedSummary: summary,\n    itemCount: sortedItems.length,\n    items: sortedItems,\n    collectedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "process-feeds",
      "name": "Process & Deduplicate Feeds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"model\": \"anthropic/claude-3.5-sonnet\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a senior content strategist specializing in technology, AI/ML, frontend development, design systems, and leadership. Your task is to analyze trending topics and generate unique, engaging blog post ideas that would appeal to a technical audience.\\n\\nFocus areas:\\n- AI/Machine Learning trends and practical applications\\n- Frontend Development (React, Next.js, modern frameworks)\\n- Design Systems and Component Libraries\\n- Claude AI and other LLM developments\\n- Technical Leadership and Engineering Management\\n- Developer Experience and Productivity\\n\\nFor each blog idea, provide:\\n1. A compelling title\\n2. A brief description (2-3 sentences)\\n3. Target audience\\n4. Key points to cover\\n5. Why this topic is timely/relevant\\n6. Estimated reading time\\n7. SEO keywords (5-7)\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Based on the following trending topics and news from today, generate 5 unique and compelling blog post ideas. Make sure they are original angles, not just rewrites of existing content.\\n\\nToday's Trending Topics:\\n\" + $json.feedSummary + \"\\n\\nPlease format your response as a structured list with all the details mentioned.\"\n    }\n  ],\n  \"max_tokens\": 2500,\n  \"temperature\": 0.8\n}) }}",
        "options": {}
      },
      "id": "openrouter-ideas",
      "name": "OpenRouter - Generate Ideas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [950, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPENROUTER_CREDENTIAL_ID",
          "name": "OpenRouter API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst content = response.choices[0].message.content;\nconst feedData = $('Process & Deduplicate Feeds').first().json;\n\n// Format the email content\nconst today = new Date().toLocaleDateString('en-US', { \n  weekday: 'long', \n  year: 'numeric', \n  month: 'long', \n  day: 'numeric' \n});\n\nconst emailHtml = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; line-height: 1.6; color: #333; max-width: 800px; margin: 0 auto; padding: 20px; }\n    h1 { color: #1a1a1a; border-bottom: 3px solid #0066cc; padding-bottom: 10px; }\n    h2 { color: #0066cc; margin-top: 30px; }\n    .idea { background: #f8f9fa; border-left: 4px solid #0066cc; padding: 20px; margin: 20px 0; border-radius: 0 8px 8px 0; }\n    .meta { font-size: 0.9em; color: #666; margin-top: 10px; }\n    .cta { background: #0066cc; color: white; padding: 15px 30px; text-decoration: none; border-radius: 5px; display: inline-block; margin-top: 20px; }\n    .stats { background: #e8f4f8; padding: 15px; border-radius: 8px; margin: 20px 0; }\n    .footer { margin-top: 40px; padding-top: 20px; border-top: 1px solid #ddd; color: #666; font-size: 0.9em; }\n    pre { white-space: pre-wrap; word-wrap: break-word; }\n  </style>\n</head>\n<body>\n  <h1>Daily Blog Ideas - ${today}</h1>\n  \n  <div class=\"stats\">\n    <strong>Research Summary:</strong> Analyzed ${feedData.itemCount} trending articles from AI news, Reddit, Hacker News, and Dev.to\n  </div>\n  \n  <h2>Today's Blog Ideas</h2>\n  <div class=\"idea\">\n    <pre>${content}</pre>\n  </div>\n  \n  <p><strong>To create a blog from any of these ideas:</strong></p>\n  <ol>\n    <li>Reply to this email with the idea number you want to write about</li>\n    <li>Add any specific angles or points you want to include</li>\n    <li>The blog creation workflow will automatically generate and publish it</li>\n  </ol>\n  \n  <div class=\"footer\">\n    <p>This email was automatically generated by your n8n Blog Ideas Pipeline.</p>\n    <p>Sources: Google News RSS, Reddit (r/MachineLearning, r/reactjs, r/webdev), Hacker News, Dev.to</p>\n  </div>\n</body>\n</html>\n`;\n\nconst emailText = `Daily Blog Ideas - ${today}\\n\\nResearch Summary: Analyzed ${feedData.itemCount} trending articles\\n\\n${content}\\n\\n---\\nTo create a blog, reply to this email with the idea number you want to write about.`;\n\nreturn [{\n  json: {\n    emailHtml: emailHtml,\n    emailText: emailText,\n    subject: `Daily Blog Ideas - ${today}`,\n    ideasContent: content,\n    itemCount: feedData.itemCount\n  }\n}];"
      },
      "id": "format-email",
      "name": "Format Email Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $env.MY_EMAIL }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.emailText }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "send-gmail",
      "name": "Send Ideas via Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1450, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-ideas-generated",
              "leftValue": "={{ $json.choices[0].message.content.length }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-response",
      "name": "Check AI Response Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "sendTo": "={{ $env.MY_EMAIL }}",
        "subject": "Blog Ideas Pipeline - Error",
        "message": "The blog ideas pipeline encountered an error. Please check the workflow logs.",
        "options": {}
      },
      "id": "error-email",
      "name": "Send Error Notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1300, 600],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail Account"
        }
      }
    }
  ],
  "connections": {
    "Daily 8 AM Trigger": {
      "main": [
        [
          { "node": "RSS - AI & Tech News", "type": "main", "index": 0 },
          { "node": "RSS - Reddit Tech Subs", "type": "main", "index": 0 },
          { "node": "RSS - Hacker News", "type": "main", "index": 0 },
          { "node": "RSS - Dev.to", "type": "main", "index": 0 }
        ]
      ]
    },
    "RSS - AI & Tech News": {
      "main": [[{ "node": "Merge All Feeds", "type": "main", "index": 0 }]]
    },
    "RSS - Reddit Tech Subs": {
      "main": [[{ "node": "Merge All Feeds", "type": "main", "index": 0 }]]
    },
    "RSS - Hacker News": {
      "main": [[{ "node": "Merge All Feeds", "type": "main", "index": 0 }]]
    },
    "RSS - Dev.to": {
      "main": [[{ "node": "Merge All Feeds", "type": "main", "index": 0 }]]
    },
    "Merge All Feeds": {
      "main": [[{ "node": "Process & Deduplicate Feeds", "type": "main", "index": 0 }]]
    },
    "Process & Deduplicate Feeds": {
      "main": [[{ "node": "OpenRouter - Generate Ideas", "type": "main", "index": 0 }]]
    },
    "OpenRouter - Generate Ideas": {
      "main": [
        [
          { "node": "Check AI Response Valid", "type": "main", "index": 0 },
          { "node": "Format Email Content", "type": "main", "index": 0 }
        ]
      ]
    },
    "Format Email Content": {
      "main": [[{ "node": "Send Ideas via Gmail", "type": "main", "index": 0 }]]
    },
    "Check AI Response Valid": {
      "main": [[], [{ "node": "Send Error Notification", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [{ "name": "blog-automation" }, { "name": "research" }, { "name": "content-pipeline" }],
  "triggerCount": 1,
  "pinData": {}
}
